In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/Users/bibek/Documents/pandaschallange/pycityschools/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/bibek/Documents/pandaschallange/pycityschools/Resources/students_complete.csv")

In [2]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
# Total number of unique schools
total_unique_schools = school_data_complete["school_name"].nunique()

In [5]:
# Total students
total_students = school_data_complete["student_name"].count()

In [6]:
# Total budget (assuming it's stored in the "budget" column of the "school_data" DataFrame)
total_budget = school_data["budget"].sum()

In [7]:
# Average math score
average_math_score = school_data_complete["maths_score"].mean()

In [8]:
# Average reading score
average_reading_score = school_data_complete["reading_score"].mean()

In [9]:
# Percentage of students passing math
students_passing_math = school_data_complete[school_data_complete["maths_score"] >= 50]
percentage_passing_math = (students_passing_math["student_name"].count() / total_students) * 100

In [10]:
# Percentage of students passing reading
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]
percentage_passing_reading = (students_passing_reading["student_name"].count() / total_students) * 100

In [11]:
# Count the number of students passing both math and reading
students_passing_both = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)
]
num_students_passing_both = students_passing_both["student_name"].count()

In [12]:
# Percentage of students passing both math and reading
students_passing_both = school_data_complete[
    (school_data_complete["maths_score"] >= 70) & (school_data_complete["reading_score"] >= 100)]

In [13]:
# Calculate the percentage of students passing both math and reading
percentage_passing_both = (num_students_passing_both / total_students) * 100

In [14]:
# Display the results
print("Total number of unique schools:", total_unique_schools)
print("Total students:", total_students)
print("Total budget:", total_budget)
print("Average math score:", average_math_score)
print("Average reading score:", average_reading_score)
print("% Passing math:", percentage_passing_math)
print("% Passing reading:", percentage_passing_reading)
print("% Overall passing (both math and reading):", percentage_passing_both)

Total number of unique schools: 15
Total students: 39170
Total budget: 24649428
Average math score: 70.33819249425581
Average reading score: 69.98013786060761
% Passing math: 86.07863160582077
% Passing reading: 84.42685728874139
% Overall passing (both math and reading): 72.80827163645647

In [15]:


# Create a dictionary to hold the metrics
data = {
    "Total Unique Schools": [total_unique_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percentage_passing_math],
    "% Passing Reading": [percentage_passing_reading],
    "% Overall Passing": [percentage_passing_both],
}

# Create a DataFrame from the dictionary
results_df = pd.DataFrame(data)

# Display the DataFrame
print(results_df)
results_df.head()

   Total Unique Schools  Total Students  Total Budget  Average Math Score  \
0                    15           39170      24649428           70.338192

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0              69.980138       86.078632          84.426857          72.808272

,Total Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [16]:
# Group by school name to calculate metrics
grouped_school_data = school_data_complete.groupby("school_name")

# Calculate total students for each school
total_students = grouped_school_data["student_name"].count()

# School type can be taken from the first instance of each school (assuming it's the same for all students in that school)
school_type = grouped_school_data["type"].first()
school_type

school_name
Bailey High School        Government
Cabrera High School      Independent
Figueroa High School      Government
Ford High School          Government
Griffin High School      Independent
Hernandez High School     Government
Holden High School       Independent
Huang High School         Government
Johnson High School       Government
Pena High School         Independent
Rodriguez High School     Government
Shelton High School      Independent
Thomas High School       Independent
Wilson High School       Independent
Wright High School       Independent
Name: type, dtype: object

In [17]:
#total student per school
total_students = school_data_complete.groupby("school_name")["Student ID"].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [18]:
#budget per school
total_school_budget = school_data_complete.groupby("school_name")["budget"].first()
total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [19]:
# Calculate per student budget for each school
per_student_budget = total_school_budget / total_students
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
# Calculate average math score for each school
average_math_score = school_data_complete.groupby("school_name")["maths_score"].mean()
average_math_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [21]:
# Calculate average reading score for each school
average_reading_score = school_data_complete.groupby("school_name")["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [22]:
# Calculate the percentage of students passing math for each school
passed_math = school_data_complete["maths_score"] >= 50
percentage_passing_math = (passed_math.groupby(school_data_complete["school_name"]).sum() / total_students) * 100
percentage_passing_math

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [23]:
# Calculate the percentage of students passing reading for each school
passed_reading = school_data_complete["reading_score"] >= 50
percentage_passing_reading = (passed_reading.groupby(school_data_complete["school_name"]).sum() / total_students) * 100
percentage_passing_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [24]:
# Calculate the percentage of students passing both math and reading for each school
passed_both = school_data_complete[passed_math & passed_reading].groupby("school_name")["Student ID"].count()
percentage_overall_passing = (passed_both / total_students) * 100
percentage_overall_passing

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
Name: Student ID, dtype: float64

In [25]:
# Create a DataFrame to summarize the metrics for each school
school_summary_df = pd.DataFrame({
   
    "School Type": school_type,
    "Total Students": total_students.values,
    "Total School Budget": total_school_budget.values,
    "Per Student Budget": per_student_budget.values,
      "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": percentage_passing_math.values,
    "% Passing Reading": percentage_passing_reading.values,
    "% Overall Passing": percentage_overall_passing.values
 
})

# Display the school summary DataFrame
print(school_summary_df)
school_summary_df.head(15)

                       School Type  Total Students  Total School Budget  \
school_name
Bailey High School      Government            4976              3124928
Cabrera High School    Independent            1858              1081356
Figueroa High School    Government            2949              1884411
Ford High School        Government            2739              1763916
Griffin High School    Independent            1468               917500
Hernandez High School   Government            4635              3022020
Holden High School     Independent             427               248087
Huang High School       Government            2917              1910635
Johnson High School     Government            4761              3094650
Pena High School       Independent             962               585858
Rodriguez High School   Government            3999              2547363
Shelton High School    Independent            1761              1056600
Thomas High School     Independent            1635              1043130
Wilson High School     Independent            2283              1319574
Wright High School     Independent            1800              1049400

                       Per Student Budget  Average Math Score  \
school_name
Bailey High School                  628.0           72.352894
Cabrera High School                 582.0           71.657158
Figueroa High School                639.0           68.698542
Ford High School                    644.0           69.091274
Griffin High School                 625.0           71.788147
Hernandez High School               652.0           68.874865
Holden High School                  581.0           72.583138
Huang High School                   655.0           68.935207
Johnson High School                 650.0           68.843100
Pena High School                    609.0           72.088358
Rodriguez High School               637.0           72.047762
Shelton High School                 600.0           72.034072
Thomas High School                  638.0           69.581651
Wilson High School                  578.0           69.170828
Wright High School                  583.0           72.047222

                       Average Reading Score  % Passing Math  \
school_name
Bailey High School                 71.008842       91.639871
Cabrera High School                71.359526       90.850377
Figueroa High School               69.077993       81.654798
Ford High School                   69.572472       82.438846
Griffin High School                71.245232       91.212534
Hernandez High School              69.186408       80.949299
Holden High School                 71.660422       89.929742
Huang High School                  68.910525       81.693521
Johnson High School                69.039277       82.062592
Pena High School                   71.613306       91.683992
Rodriguez High School              70.935984       90.797699
Shelton High School                70.257808       91.538898
Thomas High School                 69.768807       83.853211
Wilson High School                 68.876916       82.785808
Wright High School                 70.969444       91.777778

                       % Passing Reading  % Overall Passing
school_name
Bailey High School             87.379421          80.084405
Cabrera High School            89.074273          80.785791
Figueroa High School           82.807731          67.650051
Ford High School               82.219788          67.469880
Griffin High School            88.487738          81.335150
Hernandez High School          81.877023          66.364617
Holden High School             88.524590          78.922717
Huang High School              81.453548          66.712376
Johnson High School            81.978576          67.191766
Pena High School               86.590437          79.209979
Rodriguez High School          87.396849          79.419855
Shelton High School            86.712095          78.875639
Thomas High School             82.629969          69.480122
Wilson High School             81.296540          67.455103
Wright High School             86.666667          79.722222

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

In [26]:
# Sort the schools by % Overall Passing in descending order and display the top 5 rows
top_schools = school_summary_df.sort_values(by="% Overall Passing", ascending=False).head()
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

In [27]:
# Sort the schools by % Overall Passing in ascending order and display the top 5 rows
bottom_schools = school_summary_df.sort_values(by="% Overall Passing", ascending=True).head()
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

In [28]:
#average math score for each year level (9th, 10th, 11th, 12th) at each school
average_math_score_by_year = school_data_complete.groupby(["school_name", "year"])["maths_score"].mean().reset_index()

In [29]:
math_scores_by_year = average_math_score_by_year.pivot(index="school_name", columns="year", values="maths_score")

In [30]:
math_scores_by_year.columns = ["year 9", "year 10", "year 11", "year 12"]
math_scores_by_year

                          year 9    year 10    year 11    year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [31]:
#Reading Scores by Year

average_reading_score_by_year = school_data_complete.groupby(["school_name", "year"])["reading_score"].mean().reset_index()


reading_scores_by_year = average_reading_score_by_year.pivot(index="school_name", columns="year", values="reading_score")


reading_scores_by_year.columns = ["year 9", "year 10", "year 11", "year 12"]
reading_scores_by_year

                          year 9    year 10    year 11    year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [32]:
#spending summary

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [33]:
school_spending_df = school_summary_df.copy()

In [34]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [35]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [36]:
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [37]:
#Scores by School Size
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [38]:
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], bins=size_bins, labels=labels)

In [39]:
size_math_scores = school_summary_df.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = school_summary_df.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = school_summary_df.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = school_summary_df.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = school_summary_df.groupby("School Size")["% Overall Passing"].mean()

In [40]:
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [41]:
## Scores by School Type
type_math_scores = school_summary_df.groupby("School Type")["Average Math Score"].mean()
type_reading_scores = school_summary_df.groupby("School Type")["Average Reading Score"].mean()
type_passing_math = school_summary_df.groupby("School Type")["% Passing Math"].mean()
type_passing_reading = school_summary_df.groupby("School Type")["% Passing Reading"].mean()
type_overall_passing = school_summary_df.groupby("School Type")["% Overall Passing"].mean()

In [42]:
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340